<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
        <array>
                <dict>
                        <key>fullName</key>
                        <string>Danielle Aliendro</string>
                        <key>firstName</key>
                        <string>Danielle</string>
                        <key>lastName</key>
                        <string>Aliendro</string>
                        <key>city</key>
                        <string>Winston-Salem</string>
                        <key>state</key>
                        <string>North Carolina</string>
                        <key>lattitude</key>
                        <real>36.09986</real>
                        <key>longitude</key>
                        <real>-80.244216</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/danielle.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Dan Annis</string>
                        <key>firstName</key>
                        <string>Dan</string>
                        <key>lastName</key>
                        <string>Annis</string>
                        <key>city</key>
                        <string>Cincinnati</string>
                        <key>state</key>
                        <string>Ohio</string>
                        <key>lattitude</key>
                        <real>39.103118</real>
                        <key>longitude</key>
                        <real>-84.51202</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/dannis.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Nathan Buth</string>
                        <key>firstName</key>
                        <string>Nathan</string>
                        <key>lastName</key>
                        <string>Buth</string>
                        <key>city</key>
                        <string>Avondale</string>
                        <key>state</key>
                        <string>Arizona</string>
                        <key>lattitude</key>
                        <real>33.435598</real>
                        <key>longitude</key>
                        <real>-112.349602</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/nathan.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Darius Clark</string>
                        <key>firstName</key>
                        <string>Darius</string>
                        <key>lastName</key>
                        <string>Clark</string>
                        <key>city</key>
                        <string>Overland Park</string>
                        <key>state</key>
                        <string>Kansas</string>
                        <key>lattitude</key>
                        <real>38.982228</real>
                        <key>longitude</key>
                        <real>-94.670792</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/darius.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Shanna Cote</string>
                        <key>firstName</key>
                        <string>Shanna</string>
                        <key>lastName</key>
                        <string>Cote</string>
                        <key>city</key>
                        <string>Columbus</string>
                        <key>state</key>
                        <string>Ohio</string>
                        <key>lattitude</key>
                        <real>39.961176</real>
                        <key>longitude</key>
                        <real>-82.998794</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/shanna.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Mark Evans</string>
                        <key>firstName</key>
                        <string>Mark</string>
                        <key>lastName</key>
                        <string>Evans</string>
                        <key>city</key>
                        <string>Baltimore</string>
                        <key>state</key>
                        <string>Maryland</string>
                        <key>lattitude</key>
                        <real>39.290385</real>
                        <key>longitude</key>
                        <real>-76.612189</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/mark.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Ryan Faerman</string>
                        <key>firstName</key>
                        <string>Ryan</string>
                        <key>lastName</key>
                        <string>Faerman</string>
                        <key>city</key>
                        <string>Davie</string>
                        <key>state</key>
                        <string>Florida</string>
                        <key>lattitude</key>
                        <real>26.062866</real>
                        <key>longitude</key>
                        <real>-80.233104</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/ryan.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Jeremy Fox</string>
                        <key>firstName</key>
                        <string>Jeremy</string>
                        <key>lastName</key>
                        <string>Fox</string>
                        <key>city</key>
                        <string>Athens</string>
                        <key>state</key>
                        <string>Georgia</string>
                        <key>lattitude</key>
                        <real>33.95</real>
                        <key>longitude</key>
                        <real>-83.383333</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/jeremy.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Jen Johnson</string>
                        <key>firstName</key>
                        <string>Jen</string>
                        <key>lastName</key>
                        <string>Johnson</string>
                        <key>city</key>
                        <string>Bellevue</string>
                        <key>state</key>
                        <string>Nebraska</string>
                        <key>lattitude</key>
                        <real>41.158611</real>
                        <key>longitude</key>
                        <real>-95.934167</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/jen.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Mike Cumberworth</string>
                        <key>firstName</key>
                        <string>Mike</string>
                        <key>lastName</key>
                        <string>Cumberworth</string>
                        <key>city</key>
                        <string>Tucson</string>
                        <key>state</key>
                        <string>Arizona</string>
                        <key>lattitude</key>
                        <real>32.221743</real>
                        <key>longitude</key>
                        <real>-110.926479</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/mike.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Wes Kaminer</string>
                        <key>firstName</key>
                        <string>Wes</string>
                        <key>lastName</key>
                        <string>Kaminer</string>
                        <key>city</key>
                        <string>Columbia</string>
                        <key>state</key>
                        <string>South Carolina</string>
                        <key>lattitude</key>
                        <real>34.00071</real>
                        <key>longitude</key>
                        <real>-81.034814</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/wes.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Shae Klusman</string>
                        <key>firstName</key>
                        <string>Shae</string>
                        <key>lastName</key>
                        <string>Klusman</string>
                        <key>city</key>
                        <string>Allyn</string>
                        <key>state</key>
                        <string>Washington</string>
                        <key>lattitude</key>
                        <real>47.381802</real>
                        <key>longitude</key>
                        <real>-122.829803</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/shae.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Joe Malone</string>
                        <key>firstName</key>
                        <string>Joe</string>
                        <key>lastName</key>
                        <string>Malone</string>
                        <key>city</key>
                        <string>Oswego</string>
                        <key>state</key>
                        <string>New York</string>
                        <key>lattitude</key>
                        <real>43.455346</real>
                        <key>longitude</key>
                        <real>-76.510497</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/joe.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Andres Martinez</string>
                        <key>firstName</key>
                        <string>Andres</string>
                        <key>lastName</key>
                        <string>Martinez</string>
                        <key>city</key>
                        <string>Lennox</string>
                        <key>state</key>
                        <string>California</string>
                        <key>lattitude</key>
                        <real>33.93807</real>
                        <key>longitude</key>
                        <real>-118.352575</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/andres.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Crystal McDonlad</string>
                        <key>firstName</key>
                        <string>Crystal</string>
                        <key>lastName</key>
                        <string>McDonlad</string>
                        <key>city</key>
                        <string>Portland</string>
                        <key>state</key>
                        <string>Oregon</string>
                        <key>lattitude</key>
                        <real>45.523452</real>
                        <key>longitude</key>
                        <real>-122.676207</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/crystal.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Jay Norrod</string>
                        <key>firstName</key>
                        <string>Jay</string>
                        <key>lastName</key>
                        <string>Norrod</string>
                        <key>city</key>
                        <string>Yuma</string>
                        <key>state</key>
                        <string>Arizona</string>
                        <key>lattitude</key>
                        <real>32.692651</real>
                        <key>longitude</key>
                        <real>-114.627692</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/jay.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Monica Peters</string>
                        <key>firstName</key>
                        <string>Monica</string>
                        <key>lastName</key>
                        <string>Peters</string>
                        <key>city</key>
                        <string>Conrwall</string>
                        <key>state</key>
                        <string>Ontario</string>
                        <key>lattitude</key>
                        <real>45.021276</real>
                        <key>longitude</key>
                        <real>-74.730345</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/monica.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Meisha Ray</string>
                        <key>firstName</key>
                        <string>Meisha</string>
                        <key>lastName</key>
                        <string>Ray</string>
                        <key>city</key>
                        <string>Rocky Mount</string>
                        <key>state</key>
                        <string>Virginia</string>
                        <key>lattitude</key>
                        <real>36.99764</real>
                        <key>longitude</key>
                        <real>-79.891977</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/meisha.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Janelle Salisbury</string>
                        <key>firstName</key>
                        <string>Janelle</string>
                        <key>lastName</key>
                        <string>Salisbury</string>
                        <key>city</key>
                        <string>Lowville</string>
                        <key>state</key>
                        <string>New York</string>
                        <key>lattitude</key>
                        <real>43.786736</real>
                        <key>longitude</key>
                        <real>-75.49185</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/janelle.png</string>
                </dict>
                <dict>
                        <key>fullName</key>
                        <string>Fred Williams</string>
                        <key>firstName</key>
                        <string>Fred</string>
                        <key>lastName</key>
                        <string>Williams</string>
                        <key>city</key>
                        <string>Bend</string>
                        <key>state</key>
                        <string>Oregon</string>
                        <key>lattitude</key>
                        <real>44.058173</real>
                        <key>longitude</key>
                        <real>-121.31531</real>
                        <key>image</key>
                        <string>http://dinkydetails.com/mdf/images/fred.png</string>
                </dict>
        </array>
</plist>
